#heading{
	margin: 0 auto;
	padding-top: 20px;
	background-color: lavenderblush;
	font-weight: 600;
}

#body{
	width:80%;
	margin: 0 auto;
}

#top{
	background-color: black;
	color:white;
}

p{
	font-size:1em;
}

#headline{
	font-family: Hind, sans-serif;
	font-size: 3.5em;
	text-align: center;
	margin-bottom: 2px;
}

#byline{
	font-family: Hind, sans-serif;
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

.chapter-top{
	font-family: Hind, sans-serif;
	font-size: 2em;
}

.map-link{
	display: block;
	text-align: center;
}

.photo{
	width:50%;
	margin: 0 auto;
}

.caption{
	font-style: italic;
	font-size:.85em;
}

.photo-cred{
	margin-left: 5px;
	text-transform: uppercase;

}

#footer{	
	margin-top: 20px;
	padding-top:10px;
	padding-bottom: 5px;
	background-color: black;
}

#footer p{
	text-align: center;
	color:white;

}
.container p{
	text-align: center
}
